* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: blueviolet;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
a {
  color: black;
}

p {
  margin: 0;
}
main {
  padding: 60px 0;
}
header { 
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding-left: 20px;
  padding-right: 20px;
  color: blueviolet;
  background-color: #B4ADEA;
}

header nav a {
  margin-right: 30px;
  font-size: 16px;
  color: blueviolet;
}

.hero-banner{
  background-image: url("../images/cosmos1.jpg");
  height:250px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: azure;
  }
  .hero-banner h2 {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 200px;
    
  }
  
  .page-wrapper{
    flex: 1;
  }
  #about {
    display: grid;
    grid-template-columns: 30% 20% 50%;
    align-items: center;
    margin: 10px;
  }
  #work {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: 10px;
  }
  .page-section-contact {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin: 10px;
  }
  footer{
    text-align: right;
  }